<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Destination!</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
   <nav>
    <div class="nav-wrapper">
      {{!-- <a href="/js/logout" class="profile right">Logout</a>

      <a href="/profile" class="profile right">Profile</a> --}}
      
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Follow an adventure</a></li>
        <li><a href="badges.html">Post your adventure</a></li>
        <li><a href="collapsible.html">Photos</a></li>
        
      </ul>
    </div>
  </nav>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="globe showing world">🌎</span>
        <a href="/">My Destination!</a>
      </h1>
      <nav>
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
      <!-- Footer content -->
    </footer>
  </div>

  <!-- Conditional scripts for logged-in users -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <!-- Custom Map Initialization Script -->
  {{#if page_requires_map}}
  <script src="/js/map.js"></script>
  {{/if}}
</body>

</html>