<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Destination!</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="globe showing world">🌎</span>
        <a href="/">My Destination!</a>
      </h1>
      <nav>
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
      <!-- Footer content -->
    </footer>
  </div>

  <!-- Conditional scripts for logged-in users -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <!-- Custom Map Initialization Script -->
  {{#if page_requires_map}}
  <script src="/js/map.js"></script>
  {{/if}}
</body>

</html>