<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Travel Post:</h3>

    <form class="form new-travelpost-form">
      <div class="form-group">
        <label for="travelpost-name">travelpost name:</label>
        <input class="form-input" type="text" id="travelpost-name" name="travelpost-name" />
      </div>
      <div class="form-group">
        <label for="travelpost-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="travelpost-funding" name="travelpost-funding" />
      </div>
      <div class="form-group">
        <label for="travelpost-desc">description:</label>
        <textarea class="form-input" id="travelpost-desc" name="travelpost-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if TravelPosts.length}}
  <div class="col-md-6 travelpost-list">
    <h3>Current Travel Post:</h3>

    {{#each TravelPosts as |travelpost|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/travelpost/{{TravelPost.id}}">{{TravelPost.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{TravelPost.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
